  time.replace {
    animation: 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s flash;
  }

  @keyframes flash {
    from {
      background: rgb(255 255 255 / 0.1);
    }

    to {
      background: transparent;
    }
  }

  .htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  .sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background: #111;
    color: #eee;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  }


  :root {
    --header-size: 2rem;
  }

  header,
  main {
    font-size: var(--header-size);
    flex: 1;
    width: 100%;
    background: rgb(255 255 255 / 0.03);
  }

  header,
  main,
  footer {
    padding: 1vmax;
  }

  header {
    display: flex;
    border-top: 1px solid rgb(255 255 255 / 0.05);

    & div {
      flex: 1;
    }

    & p {
      font-size: 1rem;
      opacity: 0.9;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    letter-spacing: -0.01ch;
  }

  p {
    margin: 0;
  }

  .route {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3ch;
    height: 3ch;

    &.route-A {
      background-image: url('/static/A.svg');
    }

    &.route-C {
      background-image: url('/static/C.svg');
    }

    &.route-F {
      background-image: url('/static/F.svg');
    }

    &.route-FX {
      background-image: url('/static/FX.svg');
    }

    &.route-N {
      background-image: url('/static/N.svg');
    }

    &.route-R {
      background-image: url('/static/R.svg');
    }

    &.route-W {
      background-image: url('/static/W.svg');
    }

  }

  h1 {
    font-size: clamp(1rem, 6vmin, 8rem);
  }

  section.arrivals-simple {
    display: flex;

    & table.arrivals {
      flex: 1;
      line-height: 2.5rem;


      & .dest {
        font-weight: 600;
        padding: 1ch;
      }

    }
  }


  .arrival-time {
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
    -moz-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    text-align: right;

    &.arrival-time-due {
      display: inline-block;
      font-weight: bold;
      border-radius: 0.25ch;
      background-color: rgb(255 255 255 / 0.1);
      padding: 0 0.25ch;
      margin: 0 -0.25ch;
    }
  }

  .arrivals-detailed {

    display: flex;
    gap: clamp(0.5ch, 2vw, 2ch);


    & .route {
      width: clamp(1.5ch, 6vmin, 6ch);
      height: clamp(1.5ch, 6vmin, 6ch);
    }

    & .route-arrivals {
      margin-bottom: 0.5ch;
      padding-top: 0.5ch;
      min-height: 6ch;
      border-top: 1px solid rgb(255 255 255 / 0.2);
    }

    /*
    & .arrival-times .arrival-time:not(:last-child):after {
      content: ',';
      padding: 0;
    }*/

    & .direction {
      flex: 1;

      & h2 {
        border-bottom: 2px solid rgb(255 255 255 / 0.2);
        margin-bottom: 0.5rem;
        padding-bottom: 1vh;
        font-size: clamp(1rem, 2vh, 2rem);
      }

      & .board {
        padding-top: 0.5rem;
        display: flex;
        gap: 1ch;

        &>.arrival-times {
          flex: 0 5ch;
          text-align: right;
          font-size: 112.5%;
        }

        &>h4 {
          flex: 1;
        }

        font-size: clamp(1rem, 4vw, 2rem);
      }
    }


  }

  footer {
    padding-top: 1ch;
    font-size: 0.8rem;

    &,
    & a {
      color: rgb(255 255 255 / 0.7);
    }
  }

  .bullet {
    width: clamp(1.5ch, 6vmin, 6ch);
    height: clamp(1.5ch, 6vmin, 6ch);
  }

  [data-stn] a {
    color: #fff;
  }

  #ota-search {
    background: transparent;
    width: 100%;
    color: #fff;
    border-width: 0 0 0.1ch 0;
    font-family: 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-size: var(--header-size);
  }