<!doctype html>
<html lang="en">

<head>
  <title>OTA All Stations</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <base target="_parent">
</head>

<link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

<body class="{% if embed %}transparent{% endif %}">
  <header class="stations-header">
    All Stations </header>
  <div id="ota-search">
    <a class="btn back"
      href="{{url_for('arrivals', stop_ids=request.args.get('prev') if request.args.get('prev') else None)}}">←</a><input
      type="search" placeholder="Stations..."></input>
  </div>
  <main class="stations-list">
    <div>
      {% for stn in stations %}
      <div data-stn id="{{ stn.id }}" data-stn-id="{{ stn.id }}"><a
          href="{{url_for('arrivals', stop_ids=','.join(stn.stops.keys()))}}"
          data-stn-id="{{ stn.id }}">{{stn.name}}</a>
      </div>
      {% endfor %}
    </div>
  </main>
  <div class="blur-top"></div>
  <div class="blur-bottom"></div>
  <script src="{{url_for('static', filename='htmx.min.js')}}"></script>
  <script type="application/json" id="ota-stations-data">
    {% autoescape false %}
    {{ stations_json }}
    {% endautoescape %}
  </script>
  <script>
    const blurOnScroll = (evt) => {
      document.querySelector("input[type=search]").blur();
    }

    const resizeHandler = () => {
      const top = `calc(${window.visualViewport.height}px - ${document.querySelector("#ota-search").clientHeight}px - 0.1ch)`;
      document.querySelector("#ota-search").style.top = top;
    }

    document.querySelector("input[type=search]").addEventListener("focus", (evt) => {
      const top = `calc(${window.visualViewport.height}px - ${document.querySelector("#ota-search").clientHeight}px - 0.1ch)`;
      document.querySelector("#ota-search").style.top = top;
      window.setTimeout(() => {
        requestAnimationFrame(() => {resizeHandler()});
        document.querySelectorAll("a[data-stn-id]").forEach((el) => el.addEventListener("pointerdown", blurOnScroll));
      }, 200);
      window.visualViewport.addEventListener("resize", resizeHandler);
    });

    document.querySelector("input[type=search]").addEventListener("blur", (evt) => {
      document.querySelector("#ota-search").style.top = "auto";
      window.visualViewport.removeEventListener("resize", resizeHandler);
      document.querySelectorAll("a[data-stn-id]").forEach((el) => el.addEventListener("pointerdown", blurOnScroll));
    })

    const stations = JSON.parse(document.getElementById("ota-stations-data").textContent);

    function onChange(evt) {
      document.querySelector("input[type=search]").scrollIntoView(false);
      const ids = Object.values(stations).filter(({name}) => {
        return name.toLowerCase().includes(evt.target.value.toLowerCase())
      }).map(({id}) => id);
      document.querySelectorAll("[data-stn]").forEach((elem) => {
        if (ids.includes(elem.id)) {
          elem.style.display = "block";
        } else {
          elem.style.display = "none";
        }
      })
    }
    document.querySelector("#ota-search").addEventListener("change", onChange);
    document.querySelector("#ota-search").addEventListener("keyup", onChange);
  </script>
</body>

</html>