<!doctype html>
<html lang="en">

<head>
  <title>OTA: Next Train Arrivals</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

<body>
  <header>
    <div>
    <input id="ota-search" type="search" placeholder="Stations..."></input>
    </div>
    <img alt="loading" class="htmx-indicator" src="{{url_for('static', filename='spinner.svg')}}">
  </header>
  <main>
    <div>
    {% for stn in stations %}
      <div data-stn id="{{ stn.id }}"><a href="{{ url_for("arrivals", stop_ids=",".join(stn.stops.keys())) }}">{{stn.name}}</a></div>
    {% endfor %}
  </div>
  </main>
  <script src="{{url_for('static', filename='htmx.min.js')}}"></script>
  <script type="application/json" id="ota-stations-data">
  {% autoescape false %}
    {{ stations_json }}
    {% endautoescape %}
  </script>
  <script>
    const stations = JSON.parse(document.getElementById("ota-stations-data").textContent);

function onChange(evt) {
      const ids = Object.values(stations).filter(({name}) => {
       return name.toLowerCase().includes(evt.target.value.toLowerCase())}).map(({id}) => id);
      document.querySelectorAll("[data-stn]").forEach((elem) => {
        if (ids.includes(elem.id)) {
          elem.style.display = "block";
        } else {
          elem.style.display = "none";
        }
      })
    }
    
            document.querySelector("#ota-search").addEventListener("change", onChange);
    document.querySelector("#ota-search").addEventListener("keyup", onChange );
  </script>
</body>

</html>
