<!doctype html>
<html lang="en">

<head>
  <title>OTA All Stations</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <base target="_parent">
</head>

<link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

<body class="{% if embed %}transparent{% endif %}">
  <header id="ota-search">
     <a class="back" href="{{url_for('arrivals')}}">back</a><input autofocus type="search" placeholder="Stations..."></input>
  </header>
  <main class="stations-list">
    <h6>All Stations</h6>
    <div>
      {% for stn in stations %}
      <div data-stn id="{{ stn.id }}" data-stn-id="{{ stn.id }}"><a
          href="{{url_for('arrivals', stop_ids=','.join(stn.stops.keys()))}}"
          data-stn-id="{{ stn.id }}">{{stn.name}}</a>
      </div>
      {% endfor %}
    </div>
  </main>
  <script src="{{url_for('static', filename='htmx.min.js')}}"></script>
  <script type="application/json" id="ota-stations-data">
  {% autoescape false %}
    {{ stations_json }}
    {% endautoescape %}
  </script>
  <script>

    document.querySelector("input[type=search]").addEventListener("focus", (evt) => {
      document.querySelector(".stations-list").scrollIntoView({behavior: "smooth", block: "end"})
    })
    const stations = JSON.parse(document.getElementById("ota-stations-data").textContent);

    function onChange(evt) {
      const ids = Object.values(stations).filter(({name}) => {
        return name.toLowerCase().includes(evt.target.value.toLowerCase())
      }).map(({id}) => id);
      document.querySelectorAll("[data-stn]").forEach((elem) => {
        if (ids.includes(elem.id)) {
          elem.style.display = "block";
        } else {
          elem.style.display = "none";
        }
      })
    }


    document.addEventListener("scroll", () => {
    const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
    if (vw < 601) {
      
      document.querySelector("input[type=search]").blur();
    }
    })
    document.querySelector("#ota-search").addEventListener("change", onChange);
    document.querySelector("#ota-search").addEventListener("keyup", onChange);
  </script>
</body>

</html>
